<html>

  <body>
<div style="height: 20px;"></div>

<div class='center-block' style="width: 1000px;">


<div class='row center-block' style="width:1000px;">


 <div class="col-lg-4"style="width: 380px;" role="group" aria-label="...">

  <button id="iniciarreal" onclick="iniciarguardar()" class="btn btn-success">Iniciar Guardar Datos</button>

  <button id="detenerreal" onclick="detenerguardar()" class="btn btn-danger">Detener Guardar Datos</button>



</div> 


<div class="col-md-3">
  <button id="dato" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Voltaje Tiempo Real<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li onclick="realdata(0)"><a  href="#">Voltaje Tiempo Real</a></li>
    <li onclick="realdata(1)"><a href="#">Corriente Tiempo Real</a></li>
  </ul>
 </div>

<div style="height:32px; line-height: 32px;" class="col-md-1">


<h > Tiempo: </h>

</div>



<div id="notificacion" style="height:32px; line-height: 32px;" class="col-md-1">


</div>


<div class="col-md-2">


<a id="link" onclick="descargarreal()" class="btn btn-default">Descargar data</a>

</div>


</div>


<div style="height: 50px;"></div>


<canvas id="real" width="1000" height="400"></canvas>

</div>


</body>

<script >
$('.dropdown-toggle').dropdown();
inicio2();

</script>