.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.propiole{

font-weight:bold;
font-style: italic;
color:#000000;
letter-spacing:1pt;
word-spacing:2pt;
font-size:16px;
text-align:left;
font-family: lucida sans unicode, lucida grande, sans-serif;
line-height:1;

}

.titulo{

	font-weight: 900;
	font-size:50px;
}



.fuentes{


	font-weight: 600;
	font-size:40px;
	color:#074D00;
}

.valores{

font-size:40px;
font-weight: 900;
color:#709E19;

}

.titulo2{

	font-weight: 900;
	font-size:45px;
    margin-left:150px;
}

.cuadrado{

	width:150px; 
	font-size: 22px; 
	margin-left:20px; 
	margin-top:10px; 
	color:white; 
	font-weight:bold;
}

.valorcuadrado{

margin-left:0px;
margin-right:30px; 
font-weight: bold; 
font-size:40px;
margin-top:43px; 

}

.valorcuadrado1{

margin-left:0px;
margin-right:30px; 
margin-top:45px;
font-weight: bold; 
font-size:40px; 

}

.dinero{

margin-top:16px;
margin-left:30px; 
height:100px; 
width: 120px; 

}