<!DOCTYPE html>
<html>
<head>
  <title>LER Santiago</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="text-center h5" style="color: white;height:32px; line-height: 32px;" >
LABORATORIO ENERGÍA SOLAR FOTOVOLTÁICO
</a>
</div>
</nav>

<%= yield %>

</body>
</html>
